<table id="myBlog">
  <tr>
    <th>Name</th>
    <th>Area</th>
    <th>Cost</th>
    <th>Max People</th>
    <td>Service Type</td>
    <th>Service Free</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>Nguyễn Anh Hoàng</td>
    <td>7000 m<sup>2</sup></td>
    <td>1000000</td>
    <td>12</td>
    <td>year</td>
    <td>xe đạp</td>
    <td>
      <button>Sửa</button>
      <button>Xóa</button>
    </td>
  </tr>
  <tr>
    <td>Nguyễn Anh Hoàng</td>
    <td>7000 m<sup>2</sup></td>
    <td>1000000</td>
    <td>12</td>
    <td>year</td>
    <td>xe đạp</td>
    <td>
      <button>Sửa</button>
      <button>Xóa</button>
    </td>
  </tr>
  <tr>
    <td>Nguyễn Anh Hoàng</td>
    <td>7000 m<sup>2</sup></td>
    <td>1000000</td>
    <td>12</td>
    <td>year</td>
    <td>xe đạp</td>
    <td>
      <button>Sửa</button>
      <button>Xóa</button>
    </td>
  </tr>
  <tr>
    <td>Nguyễn Anh Hoàng</td>
    <td>7000 m<sup>2</sup></td>
    <td>1000000</td>
    <td>12</td>
    <td>year</td>
    <td>xe đạp</td>
    <td>
      <button>Sửa</button>
      <button>Xóa</button>
    </td>
  </tr>
  <tr>
    <td>Nguyễn Anh Hoàng</td>
    <td>7000 m<sup>2</sup></td>
    <td>1000000</td>
    <td>12</td>
    <td>year</td>
    <td>xe đạp</td>
    <td>
      <button>Sửa</button>
      <button>Xóa</button>
    </td>
  </tr>
</table>


