<table id="myBlog">
  <tr>
    <th>Name</th>
    <th>Birthday</th>
    <th>Gender</th>
    <th>Card</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Customer Type</th>
    <th>Address</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>Nguyễn Anh Hoàng</td>
    <td>15/11/1997</td>
    <td>Nam</td>
    <td>206217302</td>
    <td>0777691798</td>
    <td>honhathieu@gmail.com</td>
    <td>Gold</td>
    <td>Quảng Nam</td>
    <td>
      <button>Sửa</button>
      <button>Xóa</button>
    </td>
  </tr>
  <tr>
    <td>Nguyễn Anh Hoàng</td>
    <td>15/11/1997</td>
    <td>Nam</td>
    <td>206217302</td>
    <td>0777691798</td>
    <td>honhathieu@gmail.com</td>
    <td>Gold</td>
    <td>Quảng Nam</td>
    <td>
      <button>Sửa</button>
      <button>Xóa</button>
    </td>
  </tr>
  <tr>
    <td>Nguyễn Anh Hoàng</td>
    <td>15/11/1997</td>
    <td>Nam</td>
    <td>206217302</td>
    <td>0777691798</td>
    <td>honhathieu@gmail.com</td>
    <td>Gold</td>
    <td>Quảng Nam</td>
    <td>
      <button>Sửa</button>
      <button>Xóa</button>
    </td>
  </tr>
  <tr>
    <td>Nguyễn Anh Hoàng</td>
    <td>15/11/1997</td>
    <td>Nam</td>
    <td>206217302</td>
    <td>0777691798</td>
    <td>honhathieu@gmail.com</td>
    <td>Gold</td>
    <td>Quảng Nam</td>
    <td>
      <button>Sửa</button>
      <button>Xóa</button>
    </td>
  </tr>
  <tr>
    <td>Nguyễn Anh Hoàng</td>
    <td>15/11/1997</td>
    <td>Nam</td>
    <td>206217302</td>
    <td>0777691798</td>
    <td>honhathieu@gmail.com</td>
    <td>Gold</td>
    <td>Quảng Nam</td>
    <td>
      <button>Sửa</button>
      <button>Xóa</button>
    </td>
  </tr>
</table>

