<div class="container">
  <h1 class="text-center">Student</h1>
  <table class="table table-striped">
    <thead class="text-center">
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">Age</th>
    <th scope="col">Mark</th>
    <th scope="col">Result</th>
    <th scope="col">Action</th>
    </thead>
    <tbody class="text-center">
    <tr *ngFor="let student of students">
      <td>{{student.id}}</td>
      <td [style.color]="colorRow">{{student.name | titlecase}}</td>
      <td>{{student.address}}</td>
      <td >{{student.age}}</td>
      <td>{{student.mark}}</td>
      <td *ngIf="student.mark <=6; else elseBlock" class="text-danger">FALL</td>
      <ng-template #elseBlock>
        <td class="text-success">PASS</td>
      </ng-template>
      <td>
        <a class="m-2 btn btn-warning">Detail</a>
        <a class="m-2 btn btn-danger">Delete</a>
        <a class="m-2 btn btn-success">Edit</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>

