<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>
<body>
<h3>Modify Blog</h3>
<div th:if="${message}">
    <span th:text="${message}"></span>
</div>
<p>
    <a th:href="@{/}">
        Back to blog list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/edit-blog}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{namePost}"/>
        </div>
        <div>
            <label>Writer</label>
            <input type="text" th:field="*{writer}"/>
        </div>
        <div>
            <label>Content</label>
            <input type="text" th:field="*{content}"/>
        </div>
        <div>
            <label>Date post</label>
            <input type="text" th:field="*{date}"/>
        </div>
        <input type="submit" value="Modify">
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>