<table id="myBlog">
  <tr>
    <th>Name</th>
    <th>Birthday</th>
    <th>Gender</th>
    <th>Card</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Education Dergee</th>
    <th>Position</th>
    <th>Salary</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>Hồ Nhật Hiếu</td>
    <td>15/11/1997</td>
    <td>Nam</td>
    <td>206217302</td>
    <td>0777691798</td>
    <td>honhathieu@gmail.com</td>
    <td>Tiến sĩ</td>
    <td>Giám đốc</td>
    <td>5000</td>
    <td>
      <button>Sửa</button>
      <button>Xóa</button>
    </td>
  </tr>
  <tr>
    <td>Hồ Nhật Hiếu</td>
    <td>15/11/1997</td>
    <td>Nam</td>
    <td>206217302</td>
    <td>0777691798</td>
    <td>honhathieu@gmail.com</td>
    <td>Tiến sĩ</td>
    <td>Giám đốc</td>
    <td>5000</td>
    <td>
      <button>Sửa</button>
      <button>Xóa</button>
    </td>
  </tr>
  <tr>
    <td>Hồ Nhật Hiếu</td>
    <td>15/11/1997</td>
    <td>Nam</td>
    <td>206217302</td>
    <td>0777691798</td>
    <td>honhathieu@gmail.com</td>
    <td>Tiến sĩ</td>
    <td>Giám đốc</td>
    <td>5000</td>
    <td>
      <button>Sửa</button>
      <button>Xóa</button>
    </td>
  </tr>
  <tr>
    <td>Hồ Nhật Hiếu</td>
    <td>15/11/1997</td>
    <td>Nam</td>
    <td>206217302</td>
    <td>0777691798</td>
    <td>honhathieu@gmail.com</td>
    <td>Tiến sĩ</td>
    <td>Giám đốc</td>
    <td>5000</td>
    <td>
      <button>Sửa</button>
      <button>Xóa</button>
    </td>
  </tr>
  <tr>
    <td>Hồ Nhật Hiếu</td>
    <td>15/11/1997</td>
    <td>Nam</td>
    <td>206217302</td>
    <td>0777691798</td>
    <td>honhathieu@gmail.com</td>
    <td>Tiến sĩ</td>
    <td>Giám đốc</td>
    <td>5000</td>
    <td>
      <button>Sửa</button>
      <button>Xóa</button>
    </td>
  </tr>
</table>
