<div class="container">
  <a data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-bottom: 10px" class="btn btn-primary" href="#">Create
    new Customer</a>
  <table class="table table-striped">
    <thead class="text-center">
    <th scope="col">Id</th>
    <th scope="col">Code</th>
    <th scope="col">Name</th>
    <th scope="col">Date of birth</th>
    <th scope="col">Id Card</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th>
    <th scope="col">Customer Type</th>
    <th></th>
    <th></th>
    <th></th>
    </thead>
    <tbody class="text-center">
    <tr scope="col" *ngFor="let customer of customerList">
      <td>{{customer.id}}</td>
      <td>{{customer.code}}</td>
      <td>{{customer.name }}</td>
      <td>{{customer.dateOfBirth}}</td>
      <td>{{customer.idCard}}</td>
      <td>{{customer.phoneNumber}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.customerType.name}}</td>
      <td>
        <a class="btn btn-success" routerLink="/detail/{{customer.id}}">view</a>
      </td>
      <td>
        <a class="btn btn-warning" routerLink="/edit/{{customer.id}}">edit</a>
      </td>
      <td>
        <a class="btn btn-danger" data-toggle="modal" data-target="#modalDelete"
           (click)="getId(customer.id)">delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="modalDeleteCustomerContent">
        Are you sure want to ID: {{customerId}}
        <br><br>
        delete customer ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete()">Confirm</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Customer Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="code" class="form-label">code</label>
            <input type="text" name="code" formControlName="code" class="form-control" id="code"
                   aria-describedby="emailHelp">
          </div>
          <div *ngFor="let validation of validation_messages.code">
            <div class="alert alert-danger"
                 *ngIf="formValue.get('code').hasError(validation.type) && (formValue.get('code').dirty || formValue.get('code').touched)">
              {{validation.message}}
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputName1" class="form-label">Name</label>
            <input type="text" name="name" formControlName="name" class="form-control" id="exampleInputName1"
                   aria-describedby="emailHelp">
          </div>
          <div *ngFor="let validation of validation_messages.name">
            <div class="alert alert-danger"
                 *ngIf="formValue.get('name').hasError(validation.type) && (formValue.get('name').dirty || formValue.get('name').touched)">
              {{validation.message}}
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputDate1" class="form-label">Date of birth</label>
            <input type="date" formControlName="dateOfBirth" class="form-control" id="exampleInputDate1">
          </div>
          <div class="alert alert-danger"
               *ngIf="formValue.get('dateOfBirth').invalid && (formValue.get('dateOfBirth').dirty || formValue.get('dateOfBirth').touched)">
            The age must than 18
          </div>
          <div class="mb-3">
            <label for="exampleInputIdCard1" class="form-label">Id Card</label>
            <input type="text" formControlName="idCard" class="form-control" id="exampleInputIdCard1">
          </div>
          <div *ngFor="let validation of validation_messages.idCard">
            <div class="alert alert-danger"
                 *ngIf="formValue.get('idCard').hasError(validation.type) && (formValue.get('idCard').dirty || formValue.get('idCard').touched)">
              {{validation.message}}
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPhone1" class="form-label">Phone</label>
            <input type="text" formControlName="phoneNumber" class="form-control" id="exampleInputPhone1">
          </div>
          <div *ngFor="let validation of validation_messages.phoneNumber">
            <div class="alert alert-danger"
                 *ngIf="formValue.get('phoneNumber').hasError(validation.type) && (formValue.get('phoneNumber').dirty || formValue.get('phoneNumber').touched)">
              {{validation.message}}
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1">
          </div>
          <div *ngFor="let validation of validation_messages.email">
            <div class="alert alert-danger"
                 *ngIf="formValue.get('email').hasError(validation.type) && (formValue.get('email').dirty || formValue.get('email').touched)">
              {{validation.message}}
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputAddress1" class="form-label">Address</label>
            <input type="text" formControlName="address" class="form-control" id="exampleInputAddress1">
          </div>
          <div *ngFor="let validation of validation_messages.address">
            <div class="alert alert-danger"
                 *ngIf="formValue.get('address').hasError(validation.type) && (formValue.get('address').dirty || formValue.get('address').touched)">
              {{validation.message}}
            </div>
          </div>
          <div class="mb-3">
            <label for="customerType">Customer type</label>
            <select
              formControlName="customerType" class="form-control" id="customerType">
              <option disabled selected value="">Loại Khách Hàng</option>
              <option *ngFor="let customerType of customerTypeList"
                      [ngValue]="customerType">{{customerType.name}}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveCustomer()">Add</button>
      </div>
    </div>
  </div>
</div>
