<div class="container-fluid m-4">
  <div class="row">
    <div class="col-12">
      <nav style="z-index: 100" class="navbar navbar-light bg-light fixed ">
        <div style="width: 100%" class="container-fluid ">
          <div style="width: 100%" class="row ">
            <div style="top:0px" class=" container-fluid col-8 d-flex justify-content-around">
              <div style="width: 100%" class="row">
                <div class="col-12 d-flex justify-content-around button">
                  <a href="#" class="navbar-brand menu" routerLink="/body"><span style="font-family: 'Times New Roman'">Home</span></a>
                  <a href="#" class="navbar-brand menu" routerLink="/employee"><span style="font-family: 'Times New Roman'">Employee</span></a>
                  <a href="#" class="navbar-brand menu" routerLink="/customer"><span style="font-family: 'Times New Roman'">Customer</span></a>
                  <a href="#" class="navbar-brand menu dropbtn" ><span style="font-family: 'Times New Roman'">Service</span></a>
                  <a href="#" class="navbar-brand menu"><span style="font-family: 'Times New Roman'">Contract</span></a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <form class="d-flex justify-content-between">
                <input style="border-radius: 50px" class="form-control me-2" type="search"
                       placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>


